﻿@using FinTech.Services.BudgetItemService
@using FinTech.Enums
@inject IBudgetItemService _budgetItemService
@model FinTech.ViewModels.CashFlows.CashFlowViewModel

@{
    ViewBag.Title = "CashFlow Report";
    Layout = "_Layout";
}
<h1 class="text-align-center mt-5">Отчет CashFlow</h1>
<div class="card text-center mb-4 mt-5">
    <div class="card-header">
        Параметры построения отчета
    </div>
    <div class="card-body">
        <form asp-action="CashFlowReport" asp-controller="CashFlow" method="post">
            <div class="form_row">
                <label for="" class="w-20">
                    Год:<br>
                    <input asp-for="Year" type="number" value="@DateTime.Now.Year" class="form-control">
                </label>
            </div>
            <div>
                <span class="text-center" style="font-size: 12px" asp-validation-for="Year"></span>
            </div>
            <button type="submit" class="btn btn-primary w-25">Построить</button>
        </form>
    </div>
</div>
<div>
    @if (Model != null)
    {
        @foreach (var type in Enum.GetValues(typeof(OperationTypes)))
        {
            if ((int)type == 4)
                continue;
            
            <table class="border border-secondary" style="font-size: 11px">
                <tr class="bg-light">
                    <th class="text-right" style="width: 500px">Период:</th>
                    @foreach (var month in Enum.GetValues(typeof(Months)))
                    {
                        <th class="text-right" style="width: 150px">@EnumHelper.GetDescription((Months)month)</th>
                    }
                </tr>
                <tr class="bg-primary text-white">
                    <th>@EnumHelper.GetDescription((OperationTypes)type) деятельность</th>
                    @foreach (var month in Enum.GetValues(typeof(Months)))
                    {
                        var result = Model.IncomeOperations.Where(o => o.Type == (OperationTypes)type).Where(o => o.CreationDate.Month == (int)month).Sum(o => o.Sum) - Model.ExpenseOperations.Where(o => o.Type == (OperationTypes)type).Where(o => o.CreationDate.Month == (int)month).Sum(o => o.Sum);
                        <td class="text-right">@result</td>
                    }
                </tr>
                <tr>
                    <th class="bg-secondary text-white border-bottom border-secondary" colspan="13">Поступления денежных средств</th>
                </tr>
                @if (Model.IncomeOperations.Where(o => o.Type == (OperationTypes)type).ToList().Count > 0)
                {
                    foreach (var budgetItem in Model.IncomeOperations.Where(o => o.Type == (OperationTypes)type).GroupBy(o => o.BudgetItem.Name).Select(g => g.First()))
                    {
                        <tr>
                            <td class="border-right border-secondary">@budgetItem.BudgetItem.Name</td>
                            @foreach (var month in Enum.GetValues(typeof(Months)))
                            {
                                <td class="text-right">@Model.IncomeOperations.Where(o => o.Type == (OperationTypes)type).Where(o => o.CreationDate.Month == (int)month && o.BudgetItem.Name == budgetItem.BudgetItem.Name).Sum(o => o.Sum)</td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="border-right border-secondary">Движений ДС не было</td>
                    </tr>
                }
                <tr>
                    <th class="bg-secondary text-white border-bottom border-secondary" colspan="13">Выбытие денежных средств</th>
                </tr>
                @if (Model.ExpenseOperations.Where(o => o.Type == (OperationTypes)type).ToList().Count > 0)
                {
                    foreach (var budgetItem in Model.ExpenseOperations.Where(o => o.Type == (OperationTypes)type).GroupBy(o => o.BudgetItem.Name).Select(g => g.First()))
                    {
                        <tr>
                            <td>@budgetItem.BudgetItem.Name</td>
                            @foreach (var month in Enum.GetValues(typeof(Months)))
                            {
                                <td class="text-right">@Model.ExpenseOperations.Where(o => o.Type == (OperationTypes)type).Where(o => o.CreationDate.Month == (int)month && o.BudgetItem.Name == budgetItem.BudgetItem.Name).Sum(o => o.Sum)</td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="border-right border-secondary">Движений ДС не было</td>
                    </tr>
                }
            </table>
        }
        <div class="mt-4">
            <table class="bg-light col-4" style="font-size: 12px">
                <tr>
                    @{
                        var resultSum = Model.EndSum - Model.StartSum;
                        if (resultSum < 0)
                        {
                            <th class="border-left border-right border-top border-secondary pl-1">ИТОГО УМЕНЬШЕНИЕ ДЕНЕЖНЫХ СРЕДСТВ:</th>
                        }
                        else
                        {
                            <th class="border-left border-right border-top border-secondary pl-1">ИТОГО УВЕЛИЧЕНИЕ ДЕНЕЖНЫХ СРЕДСТВ:</th>
                        }
                    }
                    <th class="pl-3 text-right border-left border-right border-top border-secondary">@Math.Abs(resultSum)</th>
                </tr>
                <tr>
                    <th class="border-left border-right border-secondary pl-1">ДС на начало периода:</th>
                    <th class="pl-3 text-right border-left border-right border-secondary">@Model.StartSum</th>
                </tr>
                <tr>
                    <th class="border-left border-right border-bottom border-secondary pl-1">ДС на конец периода:</th>
                    <th class="pl-3 text-right border-left border-right border-bottom border-secondary">@Model.EndSum</th>
                </tr>
            </table>
        </div>
    }
</div>
<hr>
@{
    if (Model != null)
    {
        <form asp-action="GetExcelReport" method="post" class="mt-3">
            <button type="submit" class="btn btn-info">Выгрузить в Excel</button>
            <input asp-for="Year" type="hidden" value="@Model.Year" class="form-control">
        </form> 
    }
}


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}