@model FinTech.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<h1 class="text-danger text-align-center m-5">ОШИБКА!</h1>
<h2 class="text-danger text-align-center m-5">Произошла непредвиденная ошибка</h2>
<img class="rounded mx-auto d-block" src="~/images/error.png" alt="">

