﻿@model FinTech.ViewModels.ProfitAndLoses.ProfitAndLosesViewModel

@{
    ViewBag.Title = "P&L Report";
    Layout = "_Layout";
}
<h1 class="text-align-center mt-5">Отчет P&L</h1>
<div class="card text-center mb-4 mt-5">
    <div class="card-header">
        Параметры построения отчета
    </div>
    <div class="card-body">
        <form method="post" asp-action="ProfitAndLosesReport" enctype="multipart/form-data">
            <div class="form_row">
                <label for="" class="w-20">
                    Месяц от:<br>
                    <input asp-for="FromDate" type="month" value="@DateTime.Now.Year-01" class="form-control">
                </label>
                <label for="" class="w-20">
                    Месяц до:<br>
                    <input asp-for="ToDate" type="month" value="@DateTime.Now.ToString("yyyy-MM")" class="form-control">
                </label>
            </div>
            <button type="submit" class="btn btn-primary w-25">Построить</button>
        </form>
    </div>
</div>

@{
    var range = Model.ToDate.Month - (Model.FromDate.Month - 1);
}

@{
    if (Model.ReportViewModels != null)
    {
        foreach (var report in Model.ReportViewModels)
        {
            if (report.Operations != null && report.Operations?.Count > 0)
            {
                <table class="border border-secondary" style="font-size: 11px">
                    <tr class="bg-light">
                        <th class="text-right" style="width: 500px">Период:</th>
                        @{
                            var currentDate = Model.FromDate;
                            for (var i = 0; i < range; i++)
                            {
                                <th class="text-right" style="width: 150px">
                                    @currentDate.ToString("MMMM yy")
                                </th>
                                currentDate = currentDate.AddMonths(1);
                            }

                        }
                        <th class="text-center" style="width: 150px">Итого</th>
                    </tr>
                    @{
                        
                        <tr class="bg-primary text-white">
                            <th colspan="@(range + 2)">@report.ReportName</th>
                        </tr>
                        if (!report.Operations.Any(o => o.BudgetItem.Name.Contains("Рентабельность")))
                        {
                            <tr>
                                <th class="bg-secondary text-white border-bottom border-secondary" colspan="@(range + 2)">@report.OperationsName</th>
                            </tr>
                        }
                        
                    }
                    @{
                        foreach (var viewModel in report.Operations.Where(o => o.BudgetItem.Name != "Рентабельность"
                                                                               && o.BudgetItem.Name != "Операционный расход" 
                                                                               && o.BudgetItem.Name != "Операционый доход" ).GroupBy(o => o.BudgetItem.Name))
                        {
                            <tr>
                                <td class="border-right border-secondary">@viewModel.Key</td>
                                @{
                                    var currentMonth = Model.FromDate.Month;
                                    for (var i = 0; i < range; i++)
                                    {
                                        <td class="text-right">
                                            @report.Operations.Where(d => d.CreationDate.Month == currentMonth
                                                                          && d.BudgetItem.Name == viewModel.Key).Sum(s => s.Sum)
                                        </td>
                                        currentMonth++;
                                    }
                                }
                                <td class="text-right">
                                    @report.Operations.Where(d => d.CreationDate.Month >= Model.FromDate.Month
                                                                  && d.CreationDate.Month <= Model.ToDate.Month
                                                                  && d.BudgetItem.Name == viewModel.Key).Sum(o => o.Sum)
                                </td>
                            </tr>
                        }
                        <tr>
                            @{
                                if (!report.Operations.Any(o => o.BudgetItem.Name.Contains("Рентабельность")))
                                {
                                    <td class="bg-info text-white border-bottom border-secondary">Итого</td>
                                    for (var i = 0; i < range; i++)
                                    {
                                        var currentMonth = Model.FromDate.AddMonths(i).Month;
                                        <td class="bg-info text-white border-bottom border-secondary text-right">
                                            @report.Operations.Where(d => d.CreationDate.Month == currentMonth).Sum(s => s.Sum)
                                        </td>
                                    }

                                    <td class="bg-info text-white border-bottom border-secondary text-right">@report.OperationsSum</td>
                                }
                                else
                                {
                                    <td class="bg-info text-white border-bottom border-secondary">Рентабельность</td>
                                    for (var i = 0; i < range; i++)
                                    {
                                        var currentMonth = Model.FromDate.AddMonths(i).Month;
                                        <td class="bg-info text-white border-bottom border-secondary text-right">
                                            @report.Operations.FirstOrDefault(d => d.CreationDate.Month == currentMonth && d.BudgetItem.Name == "Рентабельность")?.Sum.ToString("N")%
                                        </td>
                                    }

                                    <td class="bg-info text-white border-bottom border-secondary text-right">@Model.ProfitabilityPercent.ToString("N")%</td>
                                }
                            }

                        </tr>
                    }
                </table>
                <br>
            }
        }
        {
            if (Model.ReportViewModels.Any(o => o.IsIncome))
            {
                <table class="bg-light col-4" style="font-size: 12px">
                    <tr>
                        <th class="border-left border-right border-top border-secondary pl-1">Операционный доход</th>
                        <th class="pl-3 text-right border-left border-right border-top border-secondary">@Model.TotalIncomeSum</th>
                    </tr>
                    <tr>
                        <th class="border-left border-right border-secondary pl-1">Операционный расход</th>
                        <th class="pl-3 text-right border-left border-right border-secondary">@Model.TotalExpenseSum</th>
                    </tr>
                    <tr>
                        <th class="border-left border-right border-bottom border-secondary pl-1">Операционная прибыль</th>
                        <th class="pl-3 text-right border-left border-right border-bottom border-secondary">@Model.Profit</th>
                    </tr>
                    <tr>
                        <th class="border-left border-right border-bottom border-secondary pl-1">Рентабельность</th>
                        <th class="pl-3 text-right border-left border-right border-bottom border-secondary">@Model.ProfitabilityPercent.ToString("N")%</th>
                    </tr>
                </table>
                <hr>

                <form asp-action="GetExcelReport" method="post">
                    <button type="submit" class="btn btn-info">Выгрузить в Excel</button>
                    <input asp-for="FromDate" type="hidden" value="@Model.FromDate" class="form-control">
                    <input asp-for="ToDate" type="hidden" value="@Model.ToDate" class="form-control">
                </form>
            }
        }
    }
}