@model FinTech.ViewModels.Companies.CompanyViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h1 class="text-align-center mt-5">
    Подробная информация о компании
</h1>
<table class="table table-sm mt-5">
    <thead>
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">БИН</th>
        <th scope="col">Email</th>
        <th scope="col">Телефон</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Bin</td>
        <td>@Model.Email</td>
        <td>@Model.Phone</td>
    </tr>
    </tbody>
</table>


@section Scripts
{
    <script src="~/js/delete_payment_account.js" asp-append-version="true"></script>
}


    
