﻿@model System.Collections.Generic.List<FinTech.ViewModels.Companies.CompanyViewModel>

@{
    ViewBag.Title = "Все компании";
    Layout = "_Layout";
}

@if (@Model == null)
{
    <h1 class="text-align-center mt-5">Компаний не существует</h1>
}
else
{
    <div class="row mt-5">
        @foreach (var company in Model)
        {
            <div class="card m-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@company.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">БИН: @company.Bin</h6>
                    <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Company" asp-route-companyId="@company.Id">Подробнее</a>
                    @if (User.IsInRole("root") || User.IsInRole("admin"))
                    {
                        <a class="btn edit_btn btn-outline-primary" id="@company.Id">Изменить</a>
                        if (company.IsActive)
                        {
                            <a class="btn btn-outline-primary" asp-action="Delete" asp-controller="Company" asp-route-companyId="@company.Id">Удалить</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-primary" asp-action="Restore" asp-controller="Company" asp-route-companyId="@company.Id">Восстановить</a>
                        }
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="User" asp-action="Index" asp-route-companyId="@company.Id">Пользователи</a>
                    }
                </div>
            </div>
        }
    </div>
    <div class="form">

    </div>
}


@section Scripts
{
    <script>
      
       $(".edit_btn").click(function (){
                          let companyId = $(this).attr("id");
                        
                           $.ajax({
                           url : '@Url.Action("Edit", "Company")',
                           type : 'GET',
                           data : {
                           'companyId' : companyId
                           },
                           success: function (data){
                           console.log(data);
                           $('.form').html(data);
                              }
                             });
                       });
 
    </script>
}
