@model FinTech.Models.Company

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@if (@Model == null)
{
    <h1 class="text-align-center mt-5">Компании не существует</h1>
}
else
{
    <div class="row mt-5">
        <div class="card m-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">БИН: @Model.Bin</h6>
                @*<a class="btn btn-outline-primary" asp-action="Details" asp-controller="Company" asp-route-companyId="@Model.Id">Подробнее</a>*@
                @if (User.IsInRole("root") || User.IsInRole("admin"))
                {
                    <a class="btn edit_btn btn-outline-primary" id="@Model.Id">Изменить</a>
                    <a class="btn btn-outline-primary" asp-action="Delete" asp-controller="Company" asp-route-companyId="@Model.Id">Удалить</a>
                }
                @if (User.IsInRole("admin"))
                {
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="User" asp-action="Index" asp-route-companyId="@Model.Id">Пользователи</a>
                }
            </div>
        </div>
    </div>
    <div class="form">

    </div>
}


@section Scripts
{
    <script>
      
       $(".edit_btn").click(function (){
                          let companyId = $(this).attr("id");
                          console.log(companyId)
                        
                           $.ajax({
                           url : '@Url.Action("Edit", "Company")',
                           type : 'GET',
                           data : {
                           'companyId' : companyId
                           },
                           success: function (data){
                           console.log(data);
                           $('.form').html(data);
                              }
                             });
                       });
 
    </script>
}