﻿@model FinTech.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot password";
    Layout = "_EmptyLayout";
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] FinTech</title>
</head>

<body class="bg-light">
<div class="main-container row bg-light d-flex justify-content-center login-width">
    <div class="body-container mt-3 col-lg-4 col-md-5 col-sm-6 bg-white border login-border">
        <h1 class="text-align-center m-5">Восстановление пароля</h1>
        <form asp-controller="Account" class="mt-5" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <input class="form-control rounded-0" asp-for="Email" placeholder="Введите адрес электронной почты"/>
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="m-1 row justify-content-center">
                <button class="btn btn-info m-1" type="submit">Отправить</button>
                <a class="btn btn-info m-1" asp-action="Login">Назад</a>
            </div>
        </form>
    </div>
</div>
</body>