﻿@{
    ViewBag.Title = "Forgot password";
    Layout = "_EmptyLayout";
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] FinTech</title>
</head>

<body class="bg-light">
<div class="main-container row bg-light d-flex justify-content-center login-width">
    <div class="body-container mt-3 col-lg-4 col-md-5 col-sm-6 bg-white border login-border">
        <h1 class="text-align-center m-5">Изменение пароля</h1>
        <p class="small-font">Для изменения пароля перейдите по ссылке в письме, отправленном на вашу электронную почту.</p>
        <div class="m-1 row justify-content-center">
            <a class="btn btn-info m-1" asp-action="Login">Назад</a>
        </div>
    </div>
</div>
</body>