﻿@model FinTech.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_EmptyLayout";
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] FinTech</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" asp-append-version="true">
</head>

<body class="bg-light">
<div class="main-container row bg-light d-flex justify-content-center login-width">
    <div class="body-container mt-3 col-lg-4 col-md-5 col-sm-6 bg-white border login-border">
        <h1 class="text-align-center mt-5">Вход в приложение</h1>
        <form method="post" class="mt-5" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <input class="form-control rounded-0" asp-for="Email" placeholder="Введите адрес электронной почты"/>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="input-group">
                <input class="form-control rounded-0 col-11 border-right-0" asp-for="Password" placeholder="Введите пароль" id="show-password" type="password"/>
                <span class="input-group-btn text-muted">
                    <a onclick="showPassword()">
                        <i class="form-control border-left-0 rounded-0 pt-2 fa fa-eye" aria-hidden="true" id="eye"></i>
                    </a>
                </span>
            </div><span class="text-danger" asp-validation-for="Password"></span>
            <div class="mt-3 row justify-content-between">
                <div class="m-1 pl-2 pr-2">
                    <input asp-for="RememberMe"/>
                    <span class="small-font">Запомнить</span>
                </div>
                <a class="small-font m-1 pl-2 pr-2 text-decoration-none" asp-action="ForgotPassword">Забыли пароль?</a>
            </div>
            <div class="m-1 row justify-content-center">
                <button class="btn btn-info m-1" type="submit">Войти</button>
                <a class="btn btn-info m-1" asp-action="Register">Регистрация</a>
            </div>
        </form>
    </div>
</div>
</body>

<script src="~/js/login_show_password.js" asp-append-version="true"></script>
