﻿@model FinTech.ViewModels.Account.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "_EmptyLayout";
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] FinTech</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" asp-append-version="true">
</head>

<body class="bg-light">
<div class="main-container row bg-light d-flex justify-content-center login-width">
    <div class="body-container mt-3 col-lg-4 col-md-5 col-sm-6 bg-white border login-border">
        <h6 class="text-align-center mt-5">Регистрация</h6>
        <form method="post" asp-controller="Account" class="mt-5" asp-action="Register">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <input class="form-control rounded-0" asp-for="Email" placeholder="Введите адрес электронной почты"/>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <input class="form-control rounded-0" asp-for="CompanyName" placeholder="Введите название вашей компании"/>
                <span class="text-danger" asp-validation-for="CompanyName"></span>
            </div>
            <div class="form-group">
                <input class="form-control rounded-0" asp-for="Bin" placeholder="Введите БИН вашей компании"/>
                <span class="text-danger" asp-validation-for="Bin"></span>
            </div>
            <div class="input-group mb-3">
                <input class="form-control rounded-0 col-11 border-right-0" asp-for="Password" placeholder="Введите пароль" id="show-password" type="password"/>
                <span class="input-group-btn text-muted">
                    <a onclick="showPassword()">
                        <i class="form-control border-left-0 rounded-0 pt-2 fa fa-eye" aria-hidden="true" id="eye"></i>
                    </a>
                </span>
            </div>
            <div class="form-group">
                <input class="form-control rounded-0" asp-for="PasswordConfirm" id="repeat" placeholder="Повторите ввод пароля"/>
                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
            </div>
            <div class="m-1 row justify-content-center">
                <input class="btn btn-info m-1" type="submit" value="Регистрация"/>
                <a class="btn btn-info m-1" asp-action="Login">Назад</a>
            </div>
        </form>
    </div>
</div>
</body>

<script src="~/js/register_show_password.js" asp-append-version="true"></script>