﻿@model FinTech.ViewModels.Account.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset password";
    Layout = "_EmptyLayout";
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] FinTech</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" asp-append-version="true">
</head>

<body class="bg-light">
<div class="main-container row bg-light d-flex justify-content-center login-width">
    <div class="body-container mt-3 col-lg-4 col-md-5 col-sm-6 bg-white border login-border">
        <h6 class="text-align-center mt-5">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</h6>
        <form method="post" class="mt-5">
            <div class="text-danger" asp-validation-summary="All"></div>
            <input hidden asp-for="Code"/>
            <input hidden asp-for="Email" value="@Model.Email"/>
            <div class="input-group">
                <input class="form-control rounded-0 col-11 border-right-0" asp-for="Password" placeholder="Введите новый пароль" id="show-password" type="password"/>
                <span class="input-group-btn text-muted">
                    <a onclick="showPassword()">
                        <i class="form-control border-left-0 rounded-0 pt-2 fa fa-eye" aria-hidden="true" id="eye"></i>
                    </a>
                </span>
            </div>
            <div class="form-group mt-3">
                <input class="form-control rounded-0" asp-for="ConfirmPassword" id="repeat" placeholder="Повторите ввод пароля"/>
            </div>
            <div class="m-1 row justify-content-center">
                <button type="submit" class="btn btn-info m-1">Сбросить</button>
            </div>
        </form>
    </div>
</div>
</body>

<script src="~/js/register_show_password.js" asp-append-version="true"></script>