﻿@{
    ViewBag.Title = "Password reset confirmation";
    Layout = "_EmptyLayout";
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] FinTech</title>
</head>

<body class="bg-light">
<div class="main-container row bg-light d-flex justify-content-center login-width">
    <div class="body-container mt-3 col-lg-4 col-md-5 col-sm-6 bg-white border login-border">
        <h6 class="text-align-center mt-5">Пароль изменен</h6>
        <p class="small-font">Ваш пароль сброшен. Для входа в приложение перейдите на <a asp-action="Login">страницу входа</a>.</p>
    </div>
</div>
</body>