@model FinTech.ViewModels.Users.CreateUserViewModel

@{
    ViewBag.Title = "Добавить пользователя";
    Layout = "_Layout";
}

<h1 class="text-align-center mt-5">Добавление нового пользователя</h1>
<form class="ml-5 mt-5" method="post" asp-controller="User" asp-action="AddNewUser">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br/>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label>Пароль: </label><br/>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label>Подтвердите пароль: </label><br/>
        <input asp-for="PasswordConfirm"/>
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Добавить"/>
    </div>
</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
