@model FinTech.ViewModels.Users.UserEditViewModel;

@{
    ViewBag.Title = "Редактирование данных о пользователе";
    Layout = "_Layout";
}
@{
    if (Model != null)
    {
        <h1 class="text-align-center mt-5">Заполните форму для редактирования данных о пользователе</h1>
        <div class="container">
            <div class="row">
                <form asp-action="Edit" asp-controller="User" asp-antiforgery="true" method="post">
                    <div class="col-12 d-inline-flex">
                        <div class="col-3">
                            <label for="email">
                                Email:
                            </label>
                        </div>
                        <div class="col-4">
                            <input type="text" asp-for="Email">
                            <input type="hidden" asp-for="Id" value="@Model.Id">
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="col-12 d-inline-flex">
                        <div class="col-3">
                            <label for="shortname">
                                Роль для пользователя:
                            </label>
                        </div>
                        <div class="col-4">
                            <select asp-for="RoleName" id="" class="form-control">
                                <option value="none" selected>Выберите роль</option>
                                <option value="admin">Администратор</option>
                                <option value="user">Пользователь</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 d-inline-flex">
                        <div class="col-3">
                            <button type="submit" class="btn btn-primary">Редактировать</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <h2>Пользователь не найден, возможно он был удален</h2>
    }
}


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}