@model List<FinTech.ViewModels.Users.UserViewModel>

@{
    ViewBag.Title = "Пользователи компании";
    Layout = "_Layout";
}

@if (Model.Count == 0)
{
    <h1 class="mt-5 text-align-center">
        Список пользователей пуст
    </h1>
    <a class="btn-primary btn" asp-action="AddNewUser" asp-controller="User">Добавить пользователя</a>
}
else
{
    <h1 class="mt-5 text-align-center">
        Список пользователей
    </h1>
    <a class="btn-primary btn mt-5" asp-action="AddNewUser" asp-controller="User">Добавить пользователя</a>
    <div class="row mt-5">
        @foreach (var user in Model)
        {
            <div class="card col-3 m-1">
                <div class="card-body">
                    <h5 class="card-title">@user.UserName</h5>
                    @if (User.IsInRole("root") || User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@user.Id" class="card-link">Изменить</a>
                        <a id="@user.Id" class="delete" href="#">Удалить</a>
                    }
                </div>
            </div>
        }
    </div>
}

@section Scripts
{
    <script>
        $(document).ready(function (){
            $(".delete").click(function (){
                let id = $(this).attr("id");
                let deleteConfirm = confirm("Удалить пользователя?")
                if (deleteConfirm){
                    $.get(`@Url.Action("Delete", "User")?id=${id}`, function (){
                        location.reload()
                    })
                }
            })
        })
    </script>
}
