@using FinTech.Enums
@model dynamic

@{
    ViewBag.Title = "Charts";
    Layout = "_Layout";
}

<h1 class="text-center mt-5">Показатели</h1>

<div class="mt-5 w-100">
    <div class="justify-content-between w-100 align-content-center">
        <div class="report-chart-container w-100">
            <h3>Прибыль, ₸</h3>
        </div>
        <div>
            <div class="text-align-right">
                <div class="report-chart-container w-100">
                    <h3>Денежный поток, ₸</h3>
                </div>
            </div>
            <div class="text-align-right">
                <div>
                    <div class="justify-content-between mt-3">
                        <button type="button" class="cashflow-button" chartType="@OperationTypes.Common">Общий</button>
                        <button type="button" class="cashflow-button" chartType="@OperationTypes.Operational">Операционный</button>
                        <button type="button" class="cashflow-button" chartType="@OperationTypes.Investment">Инвестиционный</button>
                        <button type="button" class="cashflow-button" chartType="@OperationTypes.Financial">Финансовый</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="justify-content-between">
        <div class="report-chart-container">
            <div class="w-100">
                <div class="w-100 h-100">
                    <canvas id="pnl-chart" url="@Url.Action("ReturnPnlReport")"></canvas>
                </div>
                <div id="pnl-chart-info" class="mt-3" url="@Url.Action("ReturnReportInfoPartialView")"></div>
            </div>
        </div>
        <div class="report-chart-container">
            <div class="w-100">
                <div class="w-100 h-100">
                    <canvas id="cashflow-chart" url="@Url.Action("ReturnCashFlowReport")"></canvas>
                </div>
                <div id="cashflow-chart-info" class="mt-3" url="@Url.Action("ReturnReportInfoPartialView")"></div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h3>Доходы, ₸</h3>
        <hr>
        <div class="w-100 justify-content-between">
            <div class="w-40">
                <canvas id="income-operations-chart-pie"></canvas>
            </div>
            <div class="w-90">
                <canvas id="income-operations-chart-bar" url="@Url.Action("ReturnBudgetItemViewModels")"></canvas>
            </div>
        </div>
        <hr>
    </div>
    <div class="mt-4">
        <h3>Расходы, ₸</h3>
        <hr>
        <div class="w-100 justify-content-between">
            <div class="w-40">
                <canvas id="expense-operations-chart-pie"></canvas>
            </div>
            <div class="w-90">
                <canvas id="expense-operations-chart-bar"></canvas>
            </div>
        </div>
        <hr>
    </div>
    <div class="mt-4">
        <h3>Самые доходные клиенты</h3>
        <hr>
        <div class="w-100">
            <canvas id="income-counterparties-chart-bar" url="@Url.Action("ReturnCounterpartyViewModels")"></canvas>
        </div>
        <hr>
    </div>
</div>

@section Scripts
{
    <script src="js/build_charts.js" asp-append-version="true"></script>
}
