@model FinTech.ViewModels.Companies.UpdateCompanyViewModel

<div class="container">
    <div class="card bg border-0">
        <article class="card-body w-75 mx-auto mt-5" style="max-width: 400px; background: #f8f9fa" >
            <form method="post" asp-controller="Company" asp-action="Edit">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group input-group">
                    <input asp-for="Name" class="form-control" placeholder="Название компании" value="@Model.Name" type="text">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group input-group">
                    <input asp-for="Bin" class="form-control" placeholder="БИН компании" value="@Model.Bin" type="text">
                    <span asp-validation-for="Bin"></span>
                </div>
                <div class="form-group input-group">
                    <input asp-for="Email" class="form-control" placeholder="Эл.адрес компании" value="@Model.Email" type="text">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group input-group">
                    <input asp-for="Phone" class="form-control" placeholder="Номер телефона" value="@Model.Phone" type="text">
                    <span asp-validation-for="Phone"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Id" value="@Model.Id">
                    <button type="submit" class="btn confirm_edit btn-primary btn-block">Изменить</button>
                </div>
            </form>
        </article>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}