﻿@model List<FinTech.ViewModels.Counterparties.CounterpartyViewModel>
@if (Model.Count != 0)
{
    foreach (var counterparty in Model)
    {
        <div class="filter-list-checkbox-container justify-content-start">
            <input type="checkbox" value="@counterparty.Id" class="filter-list-checkbox counterparty-checkbox">
            <h6 class="ml-2">@counterparty.Name</h6>
        </div>
    }
}
else
{
    <h5 class="center pb-1">Список контрагентов пуст</h5>
}