﻿@model List<FinTech.ViewModels.PaymentAccounts.PaymentAccountViewModel>
@if (Model.Count != 0)
{
    foreach (var paymentAccount in Model)
    {
        <div class="filter-list-checkbox-container justify-content-start">
            <input type="checkbox" value="@paymentAccount.Id" class="filter-list-checkbox payment-account-checkbox">
            <h6 class="ml-2">@paymentAccount.Iban</h6>
        </div>
    }
}
else
{
    <h5 class="center pb-1">Список платежных счетов пуст</h5>
}