@using FinTech.ViewModels.PaymentAccounts
@model List<FinTech.ViewModels.PaymentAccounts.PaymentAccountViewModel>

@{
    PaymentAccountViewModel firstPaymentAccount = null;
    if (Model.Count != 0)
    {
        firstPaymentAccount = Model.First(p => p.IsActive);
    }
}

@if (Model.Count != 0)
{
    <div class="btn-group">
        <div class="payment-account-card" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <p class="small" id="default-iban" default-value="Счет: @firstPaymentAccount.Iban"></p>
            <h6 class="payment-account-card-amount" id="default-amount" default-value="@firstPaymentAccount.Amount @firstPaymentAccount.CurrencyType"></h6>
        </div>
        <div class="dropdown-menu payment-account-dropdown-menu">
            @foreach (var paymentAccount in Model)
            {
                if (paymentAccount.IsActive)
                {
                    <li>
                        <div class="payment-account-card account" id="@paymentAccount.Id">
                            <p class="small iban" id="iban-@paymentAccount.Id">Счет: @paymentAccount.Iban</p>
                            <h6 class="amount" id="amount-@paymentAccount.Id">
                                @paymentAccount.Amount @paymentAccount.CurrencyType
                            </h6>
                        </div>
                    </li>
                }
            }
        </div>
    </div>
}
