﻿@model List<FinTech.ViewModels.PaymentAccounts.PaymentAccountViewModel>

@if (Model.Count == 0)
{
    <h2 class="mt-3 text-align-center">Список платежных счетов пуст</h2>
}
else
{
    <table class="table mt-3">
      <thead>
        <tr>
            <th scope="col">IBAN</th>
            <th scope="col">Имя банка</th>
            <th scope="col">Баланс</th>
            <th scope="col">Код валюты</th>
            <th scope="col">Имя компании</th>
            <th scope="col">Имя контрагента</th>  
            <th scope="col">Действия</th>  
        </tr>
      </thead>
      <tbody>
      @foreach (var paymentAccount in Model)
      {
          <tr>
              <td>@paymentAccount.Iban</td>
              <td>@paymentAccount.Bank.Name</td>
              <td>@paymentAccount.Amount</td>
              <td>@paymentAccount.CurrencyType.ToString()</td>
              <td>@paymentAccount.Company.Name</td>
              @if (paymentAccount.Counterparty != null)
              {
                  <td>@paymentAccount.Counterparty.Name</td>
              }
              else
              {
                  <td></td>
              }
              <td>
                  <a class="text-decoration-none m-2" asp-action="ShowDetails" asp-controller="PaymentAccount" asp-route-accountId="@paymentAccount.Id">Детали</a>
                  <a class="text-decoration-none m-2" asp-action="Edit" asp-controller="PaymentAccount" asp-route-id="@paymentAccount.Id" asp-route-redirectAction="@Url.Action("Index", "PaymentAccount")">Редактировать</a>
                  <a class="text-decoration-none m-2 deletePaymentAccountButton" payment-account-id="@paymentAccount.Id" href="#">Удалить</a>
              </td>
          </tr>
      }
      </tbody>
    </table>
}