@model FinTech.ViewModels.Charts.ChartsReportViewModel

<div class="justify-content-between">
    <h5>Поступления:</h5>
    <h5 class="ml-5">@Model.TotalSums[0]</h5>
</div>
<div class="justify-content-between mt-3">
    <h5>Выплаты:</h5>
    <h5 class="ml-5">@Model.TotalSums[1]</h5>
</div>
<div class="justify-content-between mt-3">
    <h5>Разница:</h5>
    <h5 class="ml-5">@Model.TotalDifference</h5>
</div>