﻿@model dynamic

@{
    ViewBag.Title = "Создание учетной статьи";
    Layout = "_Layout";
}

<h1 class="text-align-center mt-5">@ViewBag.Title</h1>


<div class="tab mt-5">
    <a  class="btn btn-light budget_btn" data-type="Income">Доходы</a>
    <a class="btn btn-light budget_btn" data-type="Expense" >Расходы</a>
    <a class="btn btn-light assetLiability_btn" data-type="Asset">Активы</a>
    <a class="btn btn-light assetLiability_btn" data-type="Liability" >Обязательства</a>
</div>

<div class="form">
    <div asp-validation-summary="All"></div>
</div>

@section Scripts
{
    <script>
       $(".budget_btn").click(function (){
                          let budgetType = $(this).attr("data-type");                      
                           $.ajax({
                           url : '@Url.Action("GetFormBudgetItem", "BudgetItem")',
                           type : 'GET',
                           data : {
                           'budgetType' : budgetType
                           },
                           success: function (data){
                           $('.form').html(data);
                              }
                             });
                       });
       $(".assetLiability_btn").click(function (){
                                 let AssetLiability = $(this).attr("data-type");                      
                                  $.ajax({
                                  url : '@Url.Action("GetFormAssetLiability", "AssetLiability")',
                                  type : 'GET',
                                  data : {
                                  'AssetLiability' : AssetLiability
                                  },
                                  success: function (data){
                                  $('.form').html(data);
                                     }
                                    });
                              });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}