﻿@using FinTech.Enums
@model FinTech.ViewModels.BudgetItems.BudgetItemViewModel

@{
    ViewBag.Title = "Изменение статьи";
    Layout = "_Layout";
}

@{
    if (Model != null)
    {
        <h1 class="text-align-center mt-5">Изменение статьи</h1>

        <div class="row d-flex justify-content-center mt-5">
            <form asp-controller="BudgetItem" asp-action="EditBudgetItem" method="post">
                <input class="form-control m-1" asp-for="Name" placeholder="Название статьи расхода"/>
                <span asp-validation-for="Name"></span>
                @if (Model.Type != BudgetItemTypes.Income)
                {
                    <div class="form_row">
                        <label class="w-100">
                            Статья расхода <br>
                            <select asp-for="Type" id="" class="form-control">
                                <option value="@BudgetItemTypes.Permanent">@EnumHelper.GetDescription(BudgetItemTypes.Permanent)</option>
                                <option value="@BudgetItemTypes.Variable">@EnumHelper.GetDescription(BudgetItemTypes.Variable)</option>
                            </select>
                        </label>
                    </div>
                }
                <input hidden asp-for="Type" value="@Model.Type"/>
                <input hidden asp-for="Id" value="@Model.Id"/>
                <span asp-validation-for="Type"></span>
                <button type="submit" class="btn-primary btn w-100 text-center">Изменить</button>
            </form>
        </div>
    }
    else
    {
        <h2 class="text-center">Статья не найдена или была удалена</h2>
    }
}
