﻿@using FinTech.Enums
@model System.Collections.Generic.List<FinTech.ViewModels.BudgetItems.BudgetItemViewModel>

@{
    ViewBag.Title = "Список доходов и расходов";
    Layout = "_Layout";
}
<a class="btn-primary btn mt-5" asp-controller="BudgetItem" asp-action="CreateBudgetItem">Назад</a>
@if (Model.Count > 0)
{
    <table class="table mt-5">
        <tr>
            <th class="text-center">Название</th>
            <th class="text-center">Тип статьи</th>
            @if (User.IsInRole("root") || User.IsInRole("admin"))
            {
                <th class="text-center">Действие</th> 
            }
        </tr>
        @foreach (var article in Model)
        {
            <tr>
                <td class="text-center" article-id="@article.Id">
                    @article.Name
                </td>
                <td class="text-center">
                    @if (article.Type == BudgetItemTypes.Income)
                    {
                        <p>Доход</p>
                    }
                    else
                    {
                        <p>@EnumHelper.GetDescription(article.Type)</p>
                    }
                </td>
                <td class="text-center">
                    @if (User.IsInRole("root") || User.IsInRole("admin"))
                    {
                        <a class="btn btn-outline-primary change" asp-action="EditBudgetItem"
                           asp-route-id="@article.Id">Изменить</a>
                        <a class="btn btn-outline-danger delete" id="@article.Id" data-name="@article.Name">Удалить</a>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4 class="text-center">Список учетных статей пуст</h4>
}

@section Scripts
{
    <script>
        $(document).ready(function (){
            $(".delete").click(function (){
                let id = $(this).attr("id");
                let name = $(this).attr("data-name")
                let deleteConfirm = confirm(`Удалить статью ${name}?`)
                if (deleteConfirm){
                    $.get(`@Url.Action("DeleteBudgetItem", "BudgetItem")?id=${id}`, function (){
                        location.reload()
                    })
                }
            })
        })
    </script>
}