﻿@using FinTech.Enums
@model FinTech.ViewModels.BudgetItems.CreateBudgetItemViewModel


<div>
    <form asp-controller="BudgetItem" asp-action="CreateBudgetItem" method="post">
        <input type="hidden" asp-for="CompanyBin" id="companyBin" value="@Model.CompanyBin">
        <input class="form-control m-1 nameId" asp-for="Name" placeholder="Название статьи расхода"/>
        <span asp-validation-for="Name"></span>
        <div id="name-val"></div>
        <div class="form_row" id="choice">
            <label class="w-100">
                Статья расхода <br>
                <select asp-for="Type" id="" class="form-control">
                    <option value="@BudgetItemTypes.Permanent">@EnumHelper.GetDescription(BudgetItemTypes.Permanent)</option>
                    <option value="@BudgetItemTypes.Variable">@EnumHelper.GetDescription(BudgetItemTypes.Variable)</option>
                </select>
            </label>
        </div>
        <div class="col-12">
            <input type="radio" id="asset">
            <label for="asset">Активы</label>
            <div class="assets" style="display: none">
                <select asp-for="AssetLiabilityId" class="assets-selection">
                    <option>Выберите актив</option>
                    @foreach (var asset in Model.Assets)
                    {
                        <option value="@asset.Id">@asset.Name</option>
                    }
                </select>
            </div>
            <input type="radio" id="liability">
            <label for="liability">Обязательства</label>
            <div class="liabilities" style="display: none">
                <select asp-for="AssetLiabilityId" class="liabilities-selection">
                    <option>Выберите обязательство</option>
                    @foreach (var liability in Model.Liabilities)
                    {
                        <option value="@liability.Id">@liability.Name</option>
                    }
                </select>
            </div>
        </div>
        <input hidden asp-for="Type" value="2"/>
        <span asp-validation-for="Type"></span>
        <button type="submit" class="btn-primary btn submit mt-2">Добавить</button>
        <a class="btn btn-primary mt-2" asp-controller="BudgetItem" asp-action="GetBudgetIemList">Отобразить статьи Доходов/Расходов</a>
    </form>
</div>

<script>
     $(".submit").click(function (event){
       event.preventDefault()
       let companyBin = $("#companyBin").val();
       let name = $(".nameId").val();
       $.ajax({
            url: `@Url.Action("ValidateBudgetItem", "BudgetItemValidation")`,
            method: 'GET',
            data: {
                name : name,
                companyBin : companyBin
            }
       }).done(function(response){
           if (typeof response === "boolean"){
                                 $("#name-val").text("");
                                 $(".submit").unbind("click").click();
                                           }
                                           else{
                                               $("#name-val").text(response);  
                                           } 
       });
     });
     
     $("#asset").click(function (){
        $("#liability").attr("disabled", true)
        $(".assets").css("display", "block")
        $(".liabilities-selection").remove()
        $("#choice").remove()
     })
     $("#liability").click(function (){
        $("#asset").attr("disabled", true)
        $(".liabilities").css("display", "block")
        $(".assets-selection").remove()
        $("#choice").remove()
     })
</script>