﻿@model List<FinTech.ViewModels.Banks.BankViewModel>

@{
    ViewBag.Title = "Список банков";
    Layout = "_Layout";
}

@if (Model.Count == 0)
{
    <h1 class="text-align-center mt-5">
        Список банков пуст
    </h1>
    if (User.IsInRole("root"))
    {
        <a class="btn-primary btn" asp-action="CreateNewBank" asp-controller="Bank">Добавить Банк</a>
    }
}
else
{
    <h1 class="text-align-center mt-5">
        Список Банков
    </h1>
    if (User.IsInRole("root"))
    {
        <a class="btn-primary btn" asp-action="CreateNewBank" asp-controller="Bank">Добавить Банк</a>
    }
    <div class="row">
        @foreach (var bank in Model.Where(b => b.IsActive))
        {
            <div class="card col-3 m-1">
                <div class="card-body">
                    <h5 class="card-title">@bank.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Информация</h6>
                    <p class="card-text">
                        БИК: @bank.Bik
                    </p>
                    <a asp-action="ShowDetails" asp-route-id="@bank.Id" class="card-link">Детали</a>
                    @if (User.IsInRole("root"))
                    {
                        <a asp-action="UpdateBank" asp-route-id="@bank.Id" class="card-link">Изменить</a>
                        <a id="@bank.Id" data-name="@bank.Name" class="delete" href="#">Удалить</a>
                    }
                </div>
            </div>
        }
    </div>
    @if (Model.Any(b => b.IsActive == false))
    {
        <h2>
            Список удаленных банков
        </h2>
        <div class="row">
            @foreach (var bank in Model.Where(b => b.IsActive == false))
            {
                <div class="card col-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">@bank.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Информация</h6>
                        <p class="card-text">
                            БИК: @bank.Bik
                        </p>
                        <a asp-action="ShowDetails" asp-route-id="@bank.Id" class="card-link">Детали</a>
                    </div>
                </div>
            }
        </div>
    }
}

@section Scripts
{
    <script>
            $(document).ready(function (){
                $(".delete").click(function (){
                    let id = $(this).attr("id");
                    let name = $(this).attr("data-name")
                    let deleteConfirm = confirm(`Удалить банк ${name}?`)
                    if (deleteConfirm){
                        $.post(`@Url.Action("DeleteBank", "Bank")?id=${id}`, function (){
                            location.reload()
                        })
                    }
                })
            })
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}