﻿@model FinTech.ViewModels.Banks.BankViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="text-align-center mt-5">Детали банка</h1>

<table class="table mt-5">
  <thead class="thead-light">
    <tr>
      <th scope="col">БИК</th>
      <th scope="col">Имя банка</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@Model.Bik</td>
      <td>@Model.Name</td>
    </tr>
  </tbody>
</table>


@section Scripts
{
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}
