﻿@model FinTech.ViewModels.Banks.UpdateBankViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@{
    if (Model != null)
    {
        <h1 class="text-align-center mt-5">Изменить банк</h1>
        <div class="mt-5">
            <form method="post" asp-controller="Bank" asp-action="UpdateBank" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="mb-3">
                    <label for="" class="form-label">БИК</label>
                    <input asp-for="Bik" class="form-control" type="text" placeholder="БИК банка">
                    <span asp-validation-for="Bik" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Имя банка</label>
                    <input asp-for="Name" class="form-control" type="text" placeholder="Название банка">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <input type="hidden" value="@Model.Id" asp-for="Id">
                <div class="mb-3">
                    <button type="submit" class="btn confirm_edit btn-primary btn-block">Изменить</button>
                </div>
            </form>
        </div>
    }
    else
    {
        <h2>Банк не найден или был удален</h2>
    }
}



@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
