﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.body-container{
  margin: 0 15%;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.justify-content-between, .justify-content-start, .justify-content-center{
  display: flex;
}

.justify-content-start{
  justify-content: flex-start;
}

.justify-content-center{
  justify-content: center;
}

.center{
  margin: auto;
}

.text-align-center{
  text-align: center;
}

.list-button:hover{
  background-color: lightgray;
}

.filter-list-container{
  width: 100%;
  z-index: 999;
  position: relative;
}

.filter-list{
  padding: 30px;
  width: 100%;
  height: auto;
}

.filter-list, .filter-list-call{
  background-color: #F5F5F5;
}

.filter-list-checkbox{
  width: 20px;
  height: 20px;
}

.filter-list-block{
  width: 100%;
  height: 250px;
  padding-bottom: 0;
  margin-top: 20px;
  background-color: #EFEFEF;
}

.filter-list-block-p-1{
  padding: 20px;
}

.filter-list-block-p-2{
  padding: 40px;
}

.filter-list-input, .filter-list-date{
  height: 40px;
}

.login-border{
  color: #5a6268;
  border-radius: 3%;
}

.filter-list-input{
  text-indent: 10px;
}

.filter-list-date{
  text-indent: 5px;
}

.filter-list-sinput{
  width: 90px;
}

.filter-list-call{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled-button{
  background-color: transparent;
  border: none;
}

.disabled-button:focus{
  outline: none;
}

.filter-list-checkbox-container + .filter-list-checkbox-container{
  margin-top: 10px;
}

.out-container-block{
  top: 0;
  left: 0;
}

.arrow-button{
  padding: 10px 10px;
}

.filter-list-block-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.filter-list-block-container + .filter-list-block-container{
  border-left: 2px solid black;
}

.filter-list-scrollbar{
  overflow-y: scroll;
}

.main-container{
  padding-top: 0 !important;
  margin: 0 !important;
}

.account{
  width: auto; 
  height: auto;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
}

.report-dropdown-item-text{
  font-size: 20px;
}

.payment-account-dropdown-menu{
  padding: 10px !important;
  width: auto !important;
  border: 2px black solid !important;
  margin-right: 5px !important;
}

.reports-dropdown-menu{
  padding: 0 !important;
  width: 200px !important;
}

.reports-dropdown-menu, .payment-account-dropdown-menu{
  border-radius: 0 !important;
}

.reports-dropright{
  color: white;
}

.capital-balance-report{
  margin-top: -16px;
}

.report-list-item-text{
  color: #757575;
}

.cashflow-button{
  border: 0.5px black solid;
  background-color: white;
}

.cashflow-button:focus, .cashflow-button:hover{
  background-color: lightgray;
  outline: none;
}

.small-font{
  font-size: small;
}

.login-width{
  min-width: 640px;
}

.layout-header-horizontal{
  padding: 5px 10px;
  height: 100px;
  display: flex;
  align-items: center;
}

.layout-header-vertical{
  width: 100px;
  height: 100%;
  display: block;
  pointer-events: auto;
}

.layout-header-horizontal, .layout-header-vertical{
  background-color: #313559;
}

.navbar-item-container{
  padding: 20px;
  width: 100%;
}

.navbar-item-link{
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-item-container:focus, .navbar-item-container:hover{
  background-color: #050718;
}

.navbar-item{
  color: white;
}

.relative-height{
  min-height: 100%; 
  height: auto;
}

.relative-width{
  min-width: 100%;
  width: auto;
}

.navbar-logo{
  display: block;
  width: 100%;
  height: auto;
}

.balance{
  width: 200px;
}

.payment-account-card{
  color: white;
  height: auto;
  padding: 10px;
  text-align: center;
  background-color: #22253E;
  border: 1px white solid;
}

.payment-account-card-amount{
  padding: 0;
  margin: 0;
}

.disabled-link, .disabled-link:focus, .disabled-link:hover{
  color: black;
  text-decoration: none;
}

.report-dropdown-item{
  border-top: 0.5px lightgray solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-dropdown-item:last-child{
  border-bottom: 0.5px lightgray solid;
}

.report-dropdown-item:hover{
  background-color: lightgray;
}

.main-icon-text{
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}

.color-white, .color-white:focus, .color-white:hover{
  color: white;
}

.report-dropdown-toggle::after{
  content: none;
}

.layout-header-horizontal-container{
  top: 0;
  left: 0;
}

.navbar-logo-container{
  width: 100px;
  height: 100px;
}

.report-chart-container{
  width: 49%;
}

.out-container-block{
  margin-top: 0 !important;
}

.text-align-right{
  display: flex;
  text-align: right;
}

.align-content-center{
  display: flex !important;
}
