@using FinTech.Enums
@model FinTech.ViewModels.Operations.CreateOperationViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container">
    <div class="card bg border-0">
        <article class="card-body mx-auto mt-5" style="max-width: 400px; background: #f8f9fa">
            @if (Model.BudgetItemType != BudgetItemTypes.Income)
            {
                <h4 class="card-title mt-3 text-center">Добавление расходной операции</h4>
            }
            else
            {
                <h4 class="card-title mt-3 text-center">Добавление доходной операции</h4>
            }

            <form method="post" asp-controller="Operation" asp-action="AddOperation">
                <div asp-validation-summary="ModelOnly"></div>
                <label>Дата</label>
                <div class="form-group input-group">
                    <input asp-for="CreationDate" class="form-control" type="date" value="@Model.CreationDate.ToString("yyyy-MM-dd")">
                    <span asp-validation-for="CreationDate"></span>
                </div>
                <label>Сумма</label>
                <div class="form-group input-group">
                    <input asp-for="Sum" class="form-control" type="text">
                    <span asp-validation-for="Sum"></span>
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" asp-for="IsConfirmed">
                    @if (Model.BudgetItemType == BudgetItemTypes.Income)
                    {
                        <label class="form-check-label">Подтвердить оплату</label>
                    }
                    else
                    {
                        <label class="form-check-label">Подтвердить начисление</label>
                    }
                </div>
                @if (Model.BudgetItemType == BudgetItemTypes.Income)
                {
                    <label>Статья дохода</label>
                }
                else
                {
                    <label>Статья расхода</label>
                }
                <select asp-for="BudgetItemId" class="form-control">
                    @{
                        foreach (var budgetItem in Model.BudgetItems)
                        {
                            <option value="@budgetItem.Id">@budgetItem.Name</option>
                        }
                    }
                </select>
                <label>Контрагент</label>
                <select asp-for="CounterpartyId" class="form-control">
                    @{
                        foreach (var counterparty in Model.Counterparties)
                        {
                            <option value="@counterparty.Id">@counterparty.Name</option>
                        }
                    }
                </select>
                <label>Счет</label>
                <select asp-for="PaymentAccountId" class="form-control">
                    @{
                        foreach (var account in Model.PaymentAccounts)
                        {
                            if (account.IsActive)
                            {
                                <option value="@account.Id">@account.Iban</option>
                            }
                        }
                    }
                </select>
                <label>Тип операции</label>
                <select asp-for="OperationType" class="form-control">
                    @{
                        foreach (var type in Enum.GetValues(typeof(OperationTypes)))
                        {
                                @if (!type.Equals(OperationTypes.Common))
                                {
                                    <option value="@type">@EnumHelper.GetDescription((OperationTypes) type)</option>
                                }
                            
                        }
                    }
                </select>
                <label>Комментарий</label>
                <div class="form-group input-group">
                    <input asp-for="Comment" class="form-control" type="text">
                    <span asp-validation-for="Comment"></span>
                </div>
                <div class="form-group pt-3">
                    <input type="hidden" asp-for="CompanyBin" value="@Model.CompanyBin">
                    <input type="hidden" asp-for="BudgetItemType" value="@Model.BudgetItemType">
                    <button type="submit" class="btn btn-primary btn-block">Создать операцию</button>
                </div>
            </form>
        </article>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}