@using FinTech.Enums
@model FinTech.ViewModels.Operations.UpdateOperationViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container">
    <div class="card bg border-0">
        <article class="card-body mx-auto mt-5" style="max-width: 400px; background: #f8f9fa">
            @if (Model.BudgetItemType == 2)
            {
                <h4 class="card-title mt-3 text-center">Редактирование расходной операции</h4>
            }
            else
            {
                <h4 class="card-title mt-3 text-center">Редактирование доходной операции</h4>
            }

            @if (Model.IsConfirmed == false)
            {
                <form asp-controller="Operation" asp-action="EditOperation" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <label>Дата</label>
                    <div class="form-group input-group">
                        <input disabled class="form-control" type="date" value="@Model.CreationDate.ToString("yyyy-MM-dd")">
                    </div>
                    <label>Сумма</label>
                    <div class="form-group input-group">
                        <input disabled class="form-control" type="text" value="@Model.Sum.ToString().Replace(',', '.')">
                    </div>
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" asp-for="IsConfirmed">
                        @if (Model.BudgetItemType == 1)
                        {
                            <label class="form-check-label">Подтвердить оплату</label>
                        }
                        else
                        {
                            <label class="form-check-label">Подтвердить начисление</label>
                        }
                    </div>
                    @if (Model.BudgetItemType == 1)
                    {
                        <label>Статья дохода</label>
                    }
                    else
                    {
                        <label>Статья расхода</label>
                    }
                    <select asp-for="BudgetItemId" class="form-control">
                        @{
                            foreach (var budgetItem in Model.BudgetItems)
                            {
                                <option value="@budgetItem.Id">@budgetItem.Name</option>
                            }
                        }
                    </select>
                    <label>Контрагент</label>
                    <select asp-for="CounterpartyId" class="form-control">
                        @{
                            foreach (var counterparty in Model.Counterparties)
                            {
                                <option value="@counterparty.Id">@counterparty.Name</option>
                            }
                        }
                    </select>
                    <label>Счет</label>
                    <select asp-for="PaymentAccountId" class="form-control">
                        @{
                            foreach (var account in Model.PaymentAccounts)
                            {
                                <option value="@account.Id">@account.Iban</option>
                            }
                        }
                    </select>
                    <label>Тип операции</label>
                    <select asp-for="Type" class="form-control">
                        @{
                            foreach (var type in Enum.GetValues(typeof(OperationTypes)))
                            {
                                <option value="@type">@EnumHelper.GetDescription((OperationTypes) type)</option>
                            }
                        }
                    </select>
                    <label>Комментарий</label>
                    <div class="form-group input-group">
                        <input asp-for="Comment" class="form-control" type="text" value="@Model.Comment">
                        <span asp-validation-for="Comment"></span>
                    </div>
                    <div class="form-group pt-3">
                        <input type="hidden" asp-for="Id" value="@Model.Id">
                        <input asp-for="CreationDate" type="hidden" value="@Model.CreationDate">
                        <input asp-for="Sum" type="hidden" value="@Model.Sum">
                        <input asp-for="BudgetItemType" type="hidden" value="@Model.BudgetItemType">
                        <button type="submit" class="btn btn-primary btn-block update-payment-account-block">Редактировать операцию</button>
                    </div>
                </form>
            }
            else
            {
                <label>Дата</label>
                <div class="form-group input-group">
                    <input disabled asp-for="CreationDate" class="form-control" type="date" value="@Model.CreationDate.ToString("yyyy-MM-dd")">
                </div>
                <label>Сумма</label>
                <div class="form-group input-group">
                    <input disabled asp-for="Sum" class="form-control" type="text" value="@Model.Sum">
                </div>
                <div class="form-check mb-2">
                    <input disabled type="checkbox" class="form-check-input" asp-for="IsConfirmed">
                    @if (Model.BudgetItemType == 1)
                    {
                        <label class="form-check-label">Подтвердить оплату</label>
                    }
                    else
                    {
                        <label class="form-check-label">Подтвердить начисление</label>
                    }
                </div>
                @if (Model.BudgetItemType == 1)
                {
                    <label>Статья дохода</label>
                }
                else
                {
                    <label>Статья расхода</label>
                }
                <input disabled asp-for="BudgetItem" class="form-control" type="text" value="@Model.BudgetItem.Name">
                <label>Контрагент</label>
                <input disabled asp-for="Counterparty" class="form-control" type="text" value="@Model.Counterparty.Name">
                <label>Счет</label>
                <input disabled asp-for="PaymentAccount" class="form-control" type="text" value="@Model.PaymentAccount.Iban">
                <label>Тип операции</label>
                <input disabled asp-for="Type" class="form-control" type="text" value="@EnumHelper.GetDescription(Model.Type)">
                <label>Комментарий</label>
                <div class="form-group input-group">
                    <input disabled asp-for="Comment" class="form-control" type="text" value="@Model.Comment">
                </div>
                <div class="form-group pt-3">
                    <a asp-action="Index" asp-controller="Operation" class="btn btn-primary btn-block update-payment-account-block">Назад</a>
                </div>
            }
        </article>
    </div>
</div>