﻿@using FinTech.ViewModels.Operations
@using FinTech.ViewModels.Operations.Configurations
@using FinTech.Enums
@model OperationIndexViewModel

@{
    ViewBag.Title = "Список операций";
    Layout = "_Layout";
}

@{
    int previousPage = Model.Configurations.PageViewModel.CurrentPage - 1;
    int nextPage = Model.Configurations.PageViewModel.CurrentPage + 1;
    var filterViewModelType = Model.Configurations.ViewModel.GetType();
    var confirmedOperations = Model.Operations.Where(c => c.IsConfirmed).ToList();
    var unconfirmedOperations = Model.Operations.Where(c => !c.IsConfirmed).ToList();
}
<div>
    <div class="w-100 out-container-block position-absolute">
        @{
            await Html.RenderPartialAsync("~/Views/PartialViews/Operation/_FiltrationBlockPartial.cshtml", new OperationsConfigurationsViewModel());
        }
    </div>
</div>
<div>
    <h1 class="text-align-center pt-5">Операции</h1>
    <a class="btn btn-success" asp-controller="Operation"
       asp-action="AddOperation" asp-route-budgetItemType="@BudgetItemTypes.Income">
        Добавить доходную операцию
    </a>
    <a class="btn btn-danger" asp-controller="Operation"
       asp-action="AddOperation" asp-route-budgetItemType="@BudgetItemTypes.Expense">
        Добавить расходную операцию
    </a>
</div>
@if (Model.Operations.Count == 0)
{
    <h1 class="text-align-center mt-3">Cписок операций пуст</h1>
}
else
{
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Сумма</th>
            <th scope="col">Контрагент</th>
            <th scope="col">Статья</th>
            <th scope="col">Тип</th>
            <th scope="col">Комментарий</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center font-weight-bold" colspan="9">Неподтвержденные операции</td>
        </tr>
        @if (unconfirmedOperations.Count != 0)
        {
            foreach (var operation in unconfirmedOperations)
            {
                <tr>
                    <td>@operation.CreationDate</td>
                    <td>@operation.Sum</td>
                    <td>@operation.Counterparty.Name</td>
                    <td>@operation.BudgetItem.Name</td>
                    @if (@operation.BudgetItem.Type == BudgetItemTypes.Income)
                    {
                        <td>Доход</td>
                    }
                    else
                    {
                        <td>Расход</td>
                    }
                    <td>@operation.Comment</td>
                    <td>
                        @if (operation.BudgetItem.Type == BudgetItemTypes.Income)
                        {
                            <a class="text-decoration-none m-2" asp-action="EditOperation" asp-controller="Operation" asp-route-operationId="@operation.Id" asp-route-budgetItemType="1">Редактировать</a>
                        }
                        else
                        {
                            <a class="text-decoration-none m-2" asp-action="EditOperation" asp-controller="Operation" asp-route-operationId="@operation.Id" asp-route-budgetItemType="2">Редактировать</a>
                        }
                        <a class="text-decoration-none m-2" asp-action="Delete" asp-controller="Operation" asp-route-operationId="@operation.Id">Удалить</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="9">Нет неподтверженных операций</td>
            </tr>
        }
        <tr>
            <td class="text-center font-weight-bold" colspan="9">Подтвержденные операции</td>
        </tr>
        @if (confirmedOperations.Count != 0)
        {
            foreach (var operation in confirmedOperations)
            {
                <tr>
                    <td>@operation.CreationDate</td>
                    <td>@operation.Sum</td>
                    <td>@operation.Counterparty.Name</td>
                    <td>@operation.BudgetItem.Name</td>
                    @if (operation.BudgetItem.Type == BudgetItemTypes.Income)
                    {
                        <td>Доход</td>
                    }
                    else
                    {
                        <td>Расход</td>
                    }
                    <td>@operation.Comment</td>

                    <td>
                        @if (!operation.IsConfirmed && (User.IsInRole("root") || User.IsInRole("admin")))
                        {
                            if (operation.BudgetItem.Type == BudgetItemTypes.Income)
                            {
                                <a class="text-decoration-none m-2" asp-action="EditOperation" asp-controller="Operation" asp-route-operationId="@operation.Id" asp-route-budgetItemType="1">Редактировать</a>
                            }
                            else
                            {
                                <a class="text-decoration-none m-2" asp-action="EditOperation" asp-controller="Operation" asp-route-operationId="@operation.Id" asp-route-budgetItemType="2">Редактировать</a>
                            }
                            <a class="text-decoration-none m-2" asp-action="Delete" asp-controller="Operation" asp-route-operationId="@operation.Id">Удалить</a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="9">Нет подтвержденных операций</td>
            </tr>
        }
        </tbody>
    </table>
    <div class="mt-5 w-100 justify-content-between">
        <form asp-action="Index" asp-controller="Operation" method="post">
            <input type="hidden" asp-for="Configurations.PageViewModel.CurrentPage" value="@previousPage">
            <div hidden="hidden">
                @Html.EditorForModel()
                @Html.EditorFor(model => model.Configurations.ViewModel)
            </div>
            @if (previousPage >= 0)
            {
                <button class="btn btn-secondary d-flex align-items-center arrow-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left d-inline" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </button>
            }
            else
            {
                <button disabled class="btn btn-secondary d-flex align-items-center arrow-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left d-inline" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </button>
            }
        </form>
        <form asp-action="Index" asp-controller="Operation" method="post">
            <input type="hidden" asp-for="Configurations.PageViewModel.CurrentPage" value="@nextPage">
            <div hidden="hidden">
                @Html.EditorForModel()
                @Html.EditorFor(model => model.Configurations.ViewModel)
            </div>
            @if (Model.Configurations.PageViewModel.HasNextPage)
            {
                <button class="btn btn-secondary d-flex align-items-center arrow-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right d-inline" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </button>
            }
            else
            {
                <button disabled class="btn btn-secondary d-flex align-items-center arrow-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right d-inline" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </button>
            }
        </form>
    </div>
}

@section Scripts
{
    <script src="~/js/operation_filter_block.js" asp-append-version="true"></script>
}