﻿@model FinTech.ViewModels.AssetLiabilities.AssetLiabilityViewModel

@{
    ViewBag.Title = "Изменение статьи";
    Layout = "_Layout";
}

@{
    if (Model != null)
    {
        <h1 class="text-align-center mt-5">Изменение статьи</h1>
        <div class="row d-flex justify-content-center mt-5">
            <form asp-controller="AssetLiability" asp-action="EditAssetLiability" method="post">
                <div class="form_row mt-2">
                    <label asp-for="Name" class="w-100">
                        <input class="form-control m-1" asp-for="Name" placeholder="Название статьи актива"/>
                        <span asp-validation-for="Name"></span>
                    </label>
                </div>

                <div class="form_row">
                    <label asp-for="Sum" class="w-100">
                        <input class="form-control m-1" asp-for="Sum" placeholder="Сумма актива"/>
                        <span asp-validation-for="Sum"></span>
                    </label>
                </div>
                <input hidden asp-for="Type" value="@Model.Type"/>
                <span asp-validation-for="Type"></span>
                <input hidden asp-for="Id" value="@Model.Id"/>
                <button type="submit" class="btn-primary btn w-100">Изменить</button>
            </form>
        </div> 
    }
    else
    {
        <h2 class="text-center">Статья не найдена или была удалена</h2>
    }
}

