﻿@using FinTech.Enums
@model List<FinTech.ViewModels.AssetLiabilities.AssetLiabilityViewModel>

@{
    ViewBag.Title = "Список статей активов/обязательств";
    Layout = "_Layout";
}

@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <th class="text-center">Название</th>
            <th class="text-center">Тип статьи</th>
            <th class="text-center">Сумма</th>
            <th class="text-center">Тип актива</th>
            @if (User.IsInRole("root") || User.IsInRole("admin"))
            {
                <th class="text-center">Действие</th>
            }
        </tr>
        @foreach (var article in Model)
        {
            <tr>
                <td class="text-center" article-id="@article.Id">
                    @article.Name
                </td>
                <td class="text-center">
                    @if (article.Type == AssetLiabilityTypes.Asset)
                    {
                        <p>Актив</p>
                    }
                    else
                    {
                        <p>Обязательство</p>
                    }
                </td>
                <td class="text-center">
                    @article.Sum
                </td>
                <td class="text-center">
                    @if (article.AssetType != 0)
                    {
                        @article.AssetType.GetDescription()
                    }
                </td>
                <td class="text-center">
                    @if (User.IsInRole("root") || User.IsInRole("admin"))
                    {
                        <a class="btn btn-outline-primary change" asp-action="EditAssetLiability"
                                            asp-route-id="@article.Id">
                                             Изменить
                                         </a>
                        <a class="btn btn-outline-danger delete" id="@article.Id" data-name="@article.Name">Удалить</a>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4 class="text-center">Список учетных статей пуст</h4>
}

@section Scripts
{
    <script>
        $(document).ready(function (){
            $(".delete").click(function (){
                let id = $(this).attr("id");
                let name = $(this).attr("data-name")
                let deleteConfirm = confirm(`Удалить статью ${name}?`)
                if (deleteConfirm){
                    $.get(`@Url.Action("DeactivateAssetLiability", "AssetLiability")?id=${id}`, function (){
                        location.reload()
                    })
                }
            })
        })
    </script>
}