﻿@model FinTech.ViewModels.PaymentAccounts.CreatePaymentAccountViewModel

@{
    ViewBag.Title = "Create payment account";
    Layout = "_Layout";
}


<h1 class="text-align-center mt-5">Создать платежный счет</h1>
<div class="mt-5">
    <form method="post" asp-controller="PaymentAccount" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="CompanyId" value="@Model.CompanyId">
        <input type="hidden" asp-for="CounterpartyId" value="@Model.CounterpartyId">
        <input type="hidden" asp-for="CreationDate" value="@Model.CreationDate">
        <div class="mb-3">
            <label for="" class="form-label">IBAN</label>
            <input asp-for="Iban" class="form-control" type="text" placeholder="Номер расчетного счета">
            <span asp-validation-for="Iban" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Имя банка</label>
            @if (Model.Banks.Count != 0)
            {
                <select class="form-control w-100" asp-for="BankId" aria-label="Default select example">
                    @foreach (var bank in Model.Banks)
                    {
                        <option value="@bank.Id">@bank.Name</option>
                    }
                </select>
            }
            else
            {
                <p class="text-danger">Для создания платежного счета необходимо создать банк</p>
            }
        </div>
        <div class="mb-3">
            <label for="" class="col-form-label">Баланс</label>
            <div class="justify-content-between">
                <input asp-for="Amount" class="form-control w-90" type="text" placeholder="Сумма на расчетном счете">
                <div class="form-control w-10 ml-3">@Model.CurrencyType</div>
                <input asp-for="CurrencyType" type="hidden" value="@Model.CurrencyType">
            </div>
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn confirm_edit btn-primary btn-block update-payment-account-block">Добавить</button>
        </div>
    </form>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
