﻿@using FinTech.Services.BankService
@model FinTech.ViewModels.PaymentAccounts.UpdatePaymentAccountViewModel
@inject IBankService _bankService
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@{
    var banks = _bankService.GetBankViewModels();
}
@{
    if (Model != null)
    {
        <h1 class="text-align-center mt-5">Редактировать расчетный счет</h1>
        <div class="mt-5">
            <form method="post" asp-controller="PaymentAccount" asp-action="Edit" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="CompanyId" value="@Model.CompanyId">
                <input type="hidden" asp-for="CounterpartyId" value="@Model.CounterpartyId">
                <input type="hidden" asp-for="Id" value="@Model.Id">
                <input type="hidden" asp-for="Amount" value="@Model.Amount">
                <input type="hidden" asp-for="CurrencyType" value="@Model.CurrencyType">
                <input type="hidden" asp-for="CreationDate" value="@Model.CreationDate">
                <div class="mb-3">
                    <label for="" class="form-label">IBAN</label>
                    <input asp-for="Iban" class="form-control" type="text" value="@Model.Iban" placeholder="Номер расчетного счета">
                    <span asp-validation-for="Iban" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Имя банка</label>
                    @if (banks.Count != 0)
                    {
                        <select class="form-control w-100" asp-for="BankId" aria-label="Default select example">
                            @foreach (var bank in banks)
                            {
                                <option value="@bank.Id">@bank.Name</option>
                            }
                        </select>
                    }
                    else
                    {
                        <p class="text-danger">Для создания платежного счета необходимо создать банк</p>
                    }
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn confirm_edit btn-primary btn-block update-payment-account-block">Изменить</button>
                </div>
            </form>
        </div>
    }
    else
    {
        <h1 class="text-align-center mt-3">Расчтеный счет не найден, возможно он был удален</h1>
    }
}


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}