﻿@model System.Collections.Generic.List<FinTech.ViewModels.PaymentAccounts.PaymentAccountViewModel>

@{
    ViewBag.Title = "PaymentAccounts";
    Layout = "_Layout";
}

<h1 class="text-align-center mt-5">Платежные счета</h1>
<div class="mt-5">
    <a asp-action="Create" asp-route-companyId="@ViewBag.Company.Id" asp-route-redirectAction="@Url.Action("Index", "PaymentAccount")">
        <button class="btn btn-primary">Добавить</button>
    </a>
</div>
<div id="paymentAccountsBlock" url="@Url.Action("GetPaymentAccounts", "PaymentAccount", new {companyId = ViewBag.Company.Id})"></div>


<div class="modal fade" id="deletePaymentAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog w-100">
        <div class="modal-content w-100">
            <div class="modal-header w-100">
                <h3 class="d-inline w-auto center" id="exampleModalLabel">Удалить платежный счет?</h3>
            </div>
            <div class="modal-body">
                <div class="w-60 justify-content-between center">
                    <form class="w-25" asp-action="Delete" id="deletePaymentAccountForm" url="@Url.Action("Delete", "PaymentAccount")" method="post" asp-antiforgery="true">
                        <input id="paymentAccountIdInput" type="hidden" name="id" value="1">
                        <button type="submit" class="w-100 btn btn-primary update-payment-account-block">Да</button>
                    </form>
                    <button data-dismiss="modal" type="button" class="w-25 btn btn-secondary">Нет</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/delete_payment_account.js" asp-append-version="true"></script>
}