﻿@model FinTech.ViewModels.PaymentAccounts.PaymentAccountViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="text-align-center mt-5">Подробная инфомация о платежном счете</h1>
<table class="table table-sm mt-5">
    <thead>
    <tr>
        <th scope="col">IBAN</th>
        <th scope="col">Имя банка</th>
        <th scope="col">Баланс</th>
        <th scope="col">Код валюты</th>
        <th scope="col">Имя компании</th>
        <th scope="col">Имя контрагента</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Iban</td>
        <td>@Model.Bank.Name</td>
        <td>@Model.Amount</td>
        <td>@Model.CurrencyType</td>
        @if (Model.Company != null)
        {
            <td>@Model.Company.Name</td>
        }
        else
        {
            <td>-</td>
        }
        @if (Model.Counterparty != null)
        {
            <td>@Model.Counterparty.Name</td>
        }
        else
        {
            <td>-</td>
        }
    </tr>
    </tbody>
</table>