@model FinTech.ViewModels.Balances.BalanceReportViewModel

@{
    ViewBag.Title = "Balance Report";
    Layout = "_Layout";
}

<h1 class="text-align-center mt-5">Балансовый отчет</h1>
<div class="card text-center mb-4 mt-5">
    <div class="card-header">
        Параметры построения отчета
    </div>
    <div class="card-body">
        <form method="post" asp-action="Index" enctype="multipart/form-data">
            <div class="form_row">
                <label for="" class="w-20">
                    Год:<br>
                    <input name="year" type="number" value="2021" class="form-control" id="datepicker">
                </label>
            </div>
            <button type="submit" class="btn btn-primary w-25">Построить</button>
        </form>
    </div>
</div>
@if (Model == null)
{
    <h2 class="mt-5 text-danger text-align-center">Данных нет! Введите данные для построения</h2>
}
else
{
    <div>
        <div class="justify-content-between">
            <div class="w-50">
                <table class="table w-100">
                    <thead>
                    <tr class="bg-primary text-white">
                        <th>Активы</th>
                        <th>@Model.YearOfReport.Year</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Денежные средства</td>
                        <td>@Model.SumOnPaymentAccounts</td>
                    </tr>
                    <tr>
                        <td>Дебиторская задолженность</td>
                        <td>@Model.AccountsReceivable</td>
                    </tr>
                    <tr class="bg-secondary text-white">
                        <th>Товарно-материальные запасы</th>
                        <th>@Model.InventorySum</th>
                    </tr>
                    @if (Model.InventoryAssets != null)
                    {
                        foreach (var asset in Model.InventoryAssets)
                        {
                            <tr class="report-list-item-text">
                                <td>
                                    <i>@asset.Name</i>
                                </td>
                                <td>
                                    <i>@asset.Sum</i>
                                </td>
                            </tr>
                        }
                    }
                    <tr class="bg-info text-white">
                        <th>Краткосрочные активы</th>
                        <th>@Model.ShortTermAssets</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="w-50 ml-3">
                <table class="table w-100">
                    <thead>
                    <tr class="bg-danger text-white">
                        <th>Пассивы</th>
                        <th>@Model.YearOfReport.Year</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-secondary text-white">
                        <th>Краткоср. фин. обязательства</th>
                        <th>@Model.ShortTermFinancialLiabilitiesSum</th>
                    </tr>
                    @if (Model.ShortTermFinancialLiabilities != null)
                    {
                        foreach (var liability in Model.ShortTermFinancialLiabilities)
                        {
                            <tr class="report-list-item-text">
                                <td>
                                    <i>@liability.Name</i>
                                </td>
                                <td>
                                    <i>@liability.Sum</i>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>Кредиторская задолженность</td>
                        <td>@Model.AccountsPayable</td>
                    </tr>
                    <tr class="bg-info text-white">
                        <th>Краткосрочные пассивы</th>
                        <th>@Model.ShortTermLiabilities</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="justify-content-between mt-5">
            <div class="w-50">
                <table class="table w-100">
                    <thead>
                    <tr class="bg-primary text-white">
                        <th>Активы</th>
                        <th>@Model.YearOfReport.Year</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-secondary text-white mt-3">
                        <th>Основные средства</th>
                        <th>@Model.MainCashSum</th>
                    </tr>
                    @if (Model.MainCashAssets != null)
                    {
                        foreach (var asset in Model.MainCashAssets)
                        {
                            <tr class="report-list-item-text">
                                <td>
                                    <i>@asset.Name</i>
                                </td>
                                <td>
                                    <i>@asset.Sum</i>
                                </td>
                            </tr>
                        }
                    }
                    <tr class="bg-info text-white">
                        <th>Долгосрочные активы</th>
                        <th>@Model.MainCashSum</th>
                    </tr>
                    <tr class="bg-warning text-white">
                        <th>Баланс</th>
                        <th>@Model.TotalAssetsSum</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="w-50 ml-3">
                <table class="table w-100">
                    <thead>
                    <tr class="bg-danger text-white">
                        <th>Пассивы</th>
                        <th>@Model.YearOfReport.Year</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Уставный капитал</td>
                        <td>@Model.AuthorizedCapital</td>
                    </tr>
                    <tr>
                        <td>Нераспределенная прибыль</td>
                        <td>@Model.RetainedEarnings</td>
                    </tr>
                    <tr class="bg-info text-white">
                        <th>Итого собств. капитал</th>
                        <th>@Model.TotalCapital</th>
                    </tr>
                    <tr class="bg-warning text-white">
                        <th>Баланс</th>
                        <th>@Model.TotalLiabilitiesSum</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <form asp-action="GetExcelReport" method="post" class="mt-3">
        <button type="submit" class="btn btn-info">Выгрузить в Excel</button>
        <input asp-for="YearOfReport" type="hidden" value="@Model.YearOfReport" class="form-control">
    </form>
}