﻿@using FinTech.Enums
@model FinTech.ViewModels.AssetLiabilities.CreateAssetLiabilityViewModel

<div>
    <form asp-controller="AssetLiability" asp-action="CreateAssetLiability" method="post">
        <div class="form_row mt-2">
            <label asp-for="Name" class="w-100">
                <input class="form-control m-1 nameId" asp-for="Name" placeholder="Название статьи актива"/>
                <span asp-validation-for="Name"></span>
                <div id="name-val"></div>
            </label>
        </div>
        <div class="form_row">
            <label asp-for="Sum" class="w-100">
                <select class="form-control" asp-for="AssetType">
                    <option value="@AssetTypes.InventorySum">Товарно-материальные ценности (ТМЦ)</option>
                    <option value="@AssetTypes.MainCash">Основные средства (ОС)</option>
                    <option value="@AssetTypes.Other">Прочее</option>
                </select>
            </label>
        </div>
        <div class="form_row">
            <label asp-for="Sum" class="w-100">
                <input class="form-control m-1" asp-for="Sum" placeholder="Сумма актива"/>
                <span asp-validation-for="Sum"></span>
            </label>
        </div>
        <input hidden asp-for="Type" value="1"/>
        <input type="hidden" asp-for="CreationDate" value="@DateTime.Now">
        <button type="submit" class="btn-primary btn submit">Добавить</button>
        <a class="btn btn-primary" asp-controller="AssetLiability" 
           asp-action="GetListAssetLiability">Отобразить статьи Активов/Обязательств</a>
    </form>
</div>

<script>
     $(".submit").click(function (event){
       event.preventDefault()
       let name = $(".nameId").val();
              $.get(`@Url.Action("ValidateAssetLiability", 
                         "AssetLiabilityValidation")?name=${name}`, 
              function(response) {
                  console.log(response)
              if (!response){
                  $("#name-val").text("Такая статья уже занята");  
              }
              if (response){
                  $("#name-val").text("");
                  $(".submit").unbind("click").click();
              }                    
          });
     })
</script>
