﻿@model FinTech.ViewModels.Operations.Configurations.OperationsConfigurationsViewModel
<div class="filter-list-container">
    <div class="d-none">
        <form asp-action="Index" asp-controller="Operation" method="post">
            <input type="hidden" asp-for="ViewModel.IsEmpty" value="false">
            <input id="type-input" type="hidden" asp-for="ViewModel.Type" value="">
            <input type="hidden" id="company-id-container" value="" url="@Url.Action("GetCompanyId", "Operation")">
            <h3>Фильтрация</h3>
            <hr class="mt-4">
            <div class="w-100 justify-content-between">
                <div class="filter-list-block-container">
                    <div class="w-100">
                        <h4 class="text-align-center">
                            Тип операции
                        </h4>
                        <div class="justify-content-start filter-list-block filter-list-block-p-1">
                            <div>
                                <input type="checkbox" value="1" class="filter-list-checkbox" id="switch-button-1">
                                <p>Доход</p>
                            </div>
                            <div class="ml-5">
                                <input type="checkbox" value="2" class="filter-list-checkbox" id="switch-button-2">
                                <p>Расход</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-list-block-container">
                    <div class="w-100">
                        <h4 class="text-align-center">
                            Дата оплаты
                        </h4>
                        <div class="justify-content-between filter-list-block-p-2 filter-list-block">
                            <div>
                                <input type="date" asp-for="ViewModel.DateFrom" class="filter-list-date">
                                <p class="mt-2">Дата от</p>
                            </div>
                            <div class="ml-3">
                                <input type="date" asp-for="ViewModel.DateUntil" class="filter-list-date">
                                <p class="mt-2">Дата до</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-list-block-container">
                    <div class="w-100">
                        <h4 class="text-align-center">
                            Контрагент
                        </h4>
                        <div class="pb-3 filter-list-block filter-list-block-p-1 filter-list-scrollbar" id="counterparty-dropdown-container" url="@Url.Action("ReturnCounterparties", "Operation")"></div>
                        <input type="hidden" asp-for="ViewModel.SerializedCounterparties" id="serialized-counterparties-container">
                    </div>
                </div>
                <div class="filter-list-block-container">
                    <div class="w-100">
                        <h4 class="text-align-center">
                            Платежный счет
                        </h4>
                        <div class="pb-3 filter-list-block filter-list-block-p-1 filter-list-scrollbar" id="payment-account-dropdown-container" url="@Url.Action("ReturnPaymentAccounts", "Operation")"></div>
                        <input type="hidden" asp-for="ViewModel.SerializedPaymentAccounts" id="serialized-payment-accounts-container">
                    </div>
                </div>
                <div class="filter-list-block-container">
                    <div class="w-100">
                        <h4 class="text-align-center">
                            Сумма
                        </h4>
                        <div class="justify-content-between filter-list-block filter-list-block-p-2">
                            <div>
                                <input type="text" asp-for="ViewModel.SumFrom" class="filter-list-input filter-list-sinput">
                                <p class="mt-2">Сумма от</p>
                            </div>
                            <div class="ml-4">
                                <input type="text" asp-for="ViewModel.SumUntil" class="filter-list-input filter-list-sinput">
                                <p class="mt-2">Сумма до</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 justify-content-start">
                <div>
                    <button type="submit" class="btn btn-primary">Применить</button>
                </div>
                <div class="ml-4">
                    <button id="reset-form-button" type="button" class="btn btn-secondary">Сброс</button>
                </div>
            </div>
        </form>
    </div>
    <div class="d-none" id="filter-list-call-button-container">
        <button class="disabled-button w-100 h-100 off" id="filter-list-call-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
        </button>
    </div>
</div>

<form asp-action="Index" id="reset-form" asp-controller="Operation" method="get"></form>