﻿@model FinTech.ViewModels.Counterparties.CreateCounterpartyViewModel

@{
    ViewBag.Title = "Добавление нового контрагента";
    Layout = "_Layout";
}

<h1 class="text-center mt-5">Создать контрагента</h1>

<div class="mt-5">
    <form asp-action="AddNewCounterparty" asp-controller="Counterparty" asp-antiforgery="true" method="post">
        <div class="form-group">
            <label for="" class="form-label">Полное название компании</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Название контрагента">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label for="" class="form-label">Краткое название компании</label>
            <input asp-for="ShortName" class="form-control" type="text" placeholder="Краткое название контрагента">
            <span asp-validation-for="ShortName"></span>
        </div>
        <div class="form-group">
            <label for="" class="form-label">БИН</label>
            <input type="text" asp-for="Bin" class="form-control" placeholder="БИН контрагента">
            <span asp-validation-for="Bin"></span>
        </div>
        <div class="form-group">
            <label for="" class="form-label">Комментарий</label>
            <textarea asp-for="Comment" class="form-control" placeholder="Комментарии"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100">Создать</button>
        </div>
    </form>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}