﻿@model FinTech.ViewModels.Counterparties.UpdateCounterpartyViewModel

@{
    ViewBag.Title = "Редактирование данных о контрагенте";
    Layout = "_Layout";
}
@{
    if (Model != null)
    {
        <h1 class="text-align-center mt-5">Редактировать контрагента</h1>
        <div class="mt-5">
            <form asp-action="Edit" asp-controller="Counterparty" asp-antiforgery="true" method="post">
                <div class="form-group">
                    <label for="" class="form-label">Полное название компании</label>
                    <input type="text" asp-for="Name" value="@Model.Name" class="form-control" placeholder="Название контрагента">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Краткое название компании</label>
                    <input asp-for="ShortName" value="@Model.ShortName" class="form-control" type="text" placeholder="Краткое название контрагента">
                    <span asp-validation-for="ShortName"></span>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">БИН</label>
                    <input type="text" asp-for="Bin" value="@Model.Bin" class="form-control" placeholder="БИН контрагента">
                    <span asp-validation-for="Bin"></span>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Комментарий</label>
                    <textarea asp-for="Comment" class="form-control" placeholder="Комментарии">@Model.Comment</textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">Редактировать</button>
                </div>
            </form>
        </div>
    }
    else
    {
        <h1 class="text-align-center mt-3">Контрагент не найден, возможно он был удален</h1>
    }
}


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}