﻿@model FinTech.ViewModels.Counterparties.CounterpartyViewModel

@{
    ViewBag.Title = "Подробная информация о контрагенте";
    Layout = "_Layout";
}

@{
    if (Model != null)
    {
        <div class="container">
            <h1 class="text-align-center mt-3">
                Подробная информация о контрагенте
            </h1>
            <table class="table mt-5">
                <thead>
                <tr>
                    <th>
                        Полное название
                    </th>
                    <th>
                        Краткое название
                    </th>
                    <th>
                        БИН
                    </th>
                    <th>
                        Комментарий
                    </th>
                    <th>
                        Является контрагентом компании
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @Model.Name
                    </td>
                    <td>
                        @Model.ShortName
                    </td>
                    <td>
                        @Model.Bin
                    </td>
                    <td>
                        <p>
                            @Model.Comment
                        </p>
                    </td>
                    <td>
                        @Model.Company.Name
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h2>
            Контрагент не найден, возможно он был удален
        </h2>
    }
    
}
