﻿@model List<FinTech.ViewModels.Counterparties.CounterpartyViewModel>

@{
    ViewBag.Title = "Контрагенты";
    Layout = "_Layout";
}

@if (Model.Count == 0)
{
    <h1 class="text-align-center mt-5">
        Список контрагентов пуст
    </h1>
    <a class="btn-primary btn" asp-action="AddNewCounterparty" asp-controller="Counterparty">Добавить контрагента</a>
}
else
{
    <h1 class="text-align-center mt-5">
        Контрагенты
    </h1>
    <div class="mt-5">
        <a class="btn-primary btn" asp-action="AddNewCounterparty" asp-controller="Counterparty">Добавить</a>
            <div class="row">
                <table class="table mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Полное название</th>
                        <th scope="col">Краткое название</th>
                        <th scope="col">БИН</th>
                        <th scope="col">Комментарий</th>
                        <th scope="col">Компания</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var counterparty in Model)
                    {
                        <tr>
                            <td>@counterparty.Name</td>
                            <td>@counterparty.ShortName</td>
                            <td>@counterparty.Bin</td>
                            <td>@counterparty.Comment</td>
                            <td>@counterparty.Company.Name</td>
                            <td>
                                <a class="text-decoration-none m-2" asp-action="GetDetails" asp-route-id="@counterparty.Id">Детали</a>
                                <a class="text-decoration-none m-2" asp-action="Edit" asp-route-id="@counterparty.Id">Редактировать</a>
                                <a id="@counterparty.Id" class="text-decoration-none m-2 delete" href="#">Удалить</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
    </div>
}

@section Scripts
{
    <script>
        $(document).ready(function (){
            $(".delete").click(function (){
                let id = $(this).attr("id");
                let deleteConfirm = confirm("Удалить контрагента?")
                if (deleteConfirm){
                    $.get(`@Url.Action("Delete", "Counterparty")?id=${id}`, function (){
                        location.reload()
                    })
                }
            })
        })
    </script>
}
